<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <servers>
        <server>
            <id>oda-maven</id>
            <username>${env.UPLOAD_USERNAME}</username>
            <password>${env.UPLOAD_PASSWORD}</password>
        </server>
        <server>
            <id>github-maven</id>
            <username>${env.GITHUB_PACKAGES_DEPLOY_USERNAME}</username>
            <password>${env.GITHUB_PACKAGES_DEPLOY_TOKEN}</password>
        </server>
    </servers>
</settings>
